@body-background:green;
@marvel: #f0141e;

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

.logo{
  height: 50px;
}


.cards>div {
    padding: 0;
}
.series-card{
  border: 1px rgba(0, 0, 0, 0) solid;
  margin-bottom: 10px;
}
.series-card .cover {
  position: relative;
}

.series-card .cover img {
  width: 100%;
}
.series-card .cover .real {
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.series-card .cover .titles {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: auto;
  margin: 0px;
}
.series-card .cover h3 {
  color: rgb(255, 255, 255);
  text-shadow: black 0px 0px 20px;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  white-space: normal;
  height: auto;
  overflow-x: visible;
  overflow-y: visible;
}

.series-card .cover h3 a {
  color: rgb(255, 255, 255);

}
.quick-icons {
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: @marvel;
}
.red {
  color: @marvel;
  background-color: white;
}

.shadow-base {
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(240, 20, 30) 100%);
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
}
.quick-icons .actions {
  float: left;  
   display: flex;
}

.quick-icons .metadata {
  display: block;
  color: white;
  float: right;
  font-size: 24px;
  margin: 0 5px 0 0;
}
.quick-icons.red .metadata {
  color: @marvel;
}
.quick-icons .metadata i {
    line-height: 25px;
    margin-left: 2px;
}

.quick-icons .actions a {
  color: white;
  left: 5px; 
  margin-right: 5px;
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  position: relative;
}

.quick-icons.red .actions a {
  color: @marvel;
  }


.date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: @marvel;
  color: #fff;
  padding: 1px 5px;
}
.date span {
  display: block;
  text-align: center;
}
.date .day {
  font-weight: 700;
  font-size: 20px;
}
.date .month {
  text-transform: uppercase;
}
.date .month,
.date .year {
  font-size: 12px;
}




.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.ant-layout-header {
    height: 50px;
    line-height: 50px;
}

.ant-menu {
    height: 50px;
    line-height: 50px;
}


.rc-progress-circle-path{
  color: @marvel;
}