body {
    padding-top: 40px;
  }
.logo{
  width: 120px;
}



.series-card{
  padding-bottom: 10px;
}
.series-list .cover {
  position: relative;
}

.series-list>div {
    padding: 0 0 10px 0;
}
.series-list .cover img {
  width: 100%;
}
.series-list .cover .real {
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.shadow-base {
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(240, 20, 30) 100%);
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
}
.series-list .cover .titles {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: auto;
  margin: 0px;
}
.series-list .cover h3 {
  color: rgb(255, 255, 255);
  text-shadow: black 0px 0px 20px;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
  white-space: normal;
  height: auto;
  overflow-x: visible;
  overflow-y: visible;
}

.series-list .cover h3 a {
  color: rgb(255, 255, 255);

}
.quick-icons {
  height: 25px;
  color: rgb(255, 255, 255);
  background-color: #f0141e;
}
.quick-icons .actions {
  float: left;  
   display: flex;
}

.quick-icons .metadata {
   display: flex;
  color: white;
  float: right;
  font-size: 1.5em;
}
.quick-icons .metadata i {
    line-height: 30px;

}
.quick-icons .actions a {
  color: white;
  left: 5px; 
  width: 35px;
  cursor: pointer;
  font-size: 1.5em;
  text-decoration: none;
  position: relative;
}